@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Condensed:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kaushan Script', cursive;
}
.banner{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(0,0,0,0.65),rgba(41, 33, 33, 0.85),url(Negril_home_BG-e1589738505628.jpg));
    
}